.pic1{
    border: none;
    text-align: center;
    margin-left: 5%;
}
.title{
    font-size: 25px;
    text-align: left;
}
.pic11{
    width: 130%;
    height: 450px;
}
.pic2{
    margin-top: 3.5%;
    margin-left: 5%;
    border: none;
    text-align: center;
}
.neww{
    font-size: 20px;
}
.cost{
    font-size: 14px;
    color: red;
}
.photos{
    width: 100%;
    margin-top: 5% ;
}
.buy{
    border: none;
    margin-top: 10%;
    margin-left: 5%;
}
.img1{
    position: relative;
    border-bottom: 3px solid red;
}
.img2{
    position: relative;
    border-bottom: 3px solid red;
}
.img3{
    position: relative;
    border-bottom: 3px solid red;
}
.para{
    font-size: 18px;
    width: 90%;
}
.sell{
    font-size: 12px;
    text-align: center;
}
.sell:hover{
    color: red;
}
a{
    text-decoration: none;
}
.add{
    opacity: 0;
    color: aliceblue;
    background-color: rgba(255, 0, 0, 0.63);
    padding: 5% 30%;
    position: absolute;
    left: 5.5%;
    top: 58%;
    width: 90%;
}
.add:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    opacity: 100;
}
.first{
    margin-top: 4%;
    margin-bottom: 5%;
}
.choice{
    margin-top: 20%;
    font-size: 50px;
}
.lpara{
    margin-top: 10%;
    width: 110%;
}
.show{
    font-size: 15px;
    margin-top: 5%;
    background-color: red;
    border: 3px solid red;
}
.show:hover{
    background-color: rgb(255, 255, 255);
    color: red;
    border: 3px solid red;
}
@media screen and (min-width:576px) and (max-width:768px){
    .pic11{
        width: 100%;
        height: 450px;
    }
    .choice{
        margin-top: 20%;
        font-size: 50px;
    }
    .phph{
        margin-top: 60px;
    }
}
